
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.frame-input-data-TrP {
  width: 100%;
  height: 98.2rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.frame-input-data-TrP .macbook-pro-14-1-DKm {
  width: 151.9rem;
  height: 98.9rem;
}
.frame-input-data-TrP .macbook-pro-14-1-DKm .header-MB5 {
  margin-bottom: 0.9rem;
  width: 100%;
  height: 24.8rem;
  display: flex;
  align-items: center;
}
.frame-input-data-TrP .macbook-pro-14-1-DKm .header-MB5 .auto-group-xhdr-J6K {
  box-sizing: border-box;
  padding: 6.1rem 0rem 2.4rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame-input-data-TrP .macbook-pro-14-1-DKm .header-MB5 .auto-group-xhdr-J6K .auto-group-qjlp-deP {
  margin-top: 3.1rem;
  width: 78.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-input-data-TrP .macbook-pro-14-1-DKm .header-MB5 .auto-group-xhdr-J6K .auto-group-qjlp-deP .direktorat-stabilisasi-pasokan-dan-harga-pangan-kedeputian-bidang-ketersediaan-dan-stabilisasi-pangan-Nrs {
  margin: 0rem 0.1rem 1.5rem 0rem;
  max-width: 63.3rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.3575;
  color: #14651c;
  font-family: Bree Serif, 'Source Sans Pro';
  flex-shrink: 0;
}
.frame-input-data-TrP .macbook-pro-14-1-DKm .header-MB5 .auto-group-xhdr-J6K .auto-group-qjlp-deP .auto-group-ueqf-E8P {
  width: 100%;
  height: 2.7rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #38a33c;
  flex-shrink: 0;
}
.frame-input-data-TrP .macbook-pro-14-1-DKm .header-MB5 .auto-group-xhdr-J6K .line-header-vG7 {
  margin-bottom: 5.3rem;
  width: 0;
  height: 11rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-input-data-TrP .macbook-pro-14-1-DKm .header-MB5 .auto-group-db4b-ehu {
  width: 73.5rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.frame-input-data-TrP .macbook-pro-14-1-DKm .header-MB5 .auto-group-db4b-ehu .logo-btp-PvP {
  width: 28.9rem;
  height: 19rem;
  position: absolute;
  left: 41.3rem;
  top: 4.5rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-input-data-TrP .macbook-pro-14-1-DKm .header-MB5 .auto-group-db4b-ehu .logo-bapanas-Kp3 {
  width: 10.8rem;
  height: 11.5rem;
  position: absolute;
  left: 8.5rem;
  top: 4.5rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-input-data-TrP .macbook-pro-14-1-DKm .header-MB5 .auto-group-db4b-ehu .logo-aic-Fhh {
  width: 32.9rem;
  height: 23.1rem;
  position: absolute;
  left: 25.2rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.frame-input-data-TrP .macbook-pro-14-1-DKm .header-MB5 .auto-group-db4b-ehu .logo-telkom-oDR {
  width: 12.6rem;
  height: 12.8rem;
  position: absolute;
  left: 58.1rem;
  top: 3.9rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-input-data-TrP .macbook-pro-14-1-DKm .header-MB5 .auto-group-db4b-ehu .batas-header-2-8Wb {
  width: 73.5rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 18.5rem;
  background-color: #92f662;
}
.frame-input-data-TrP .macbook-pro-14-1-DKm .auto-group-wv1m-eUw {
  box-sizing: border-box;
  padding: 2.6rem 18.8rem 1.7rem 21.5rem;
  width: 150.9rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(203.19deg, #38a43c 68.64%, #d9d9d9 87.36%);
}
.frame-input-data-TrP .macbook-pro-14-1-DKm .auto-group-wv1m-eUw .input-data-harga-NQw {
  margin: 0rem 69.3rem 2.2rem 0rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-input-data-TrP .macbook-pro-14-1-DKm .auto-group-wv1m-eUw .auto-group-pzgx-gwR {
  box-sizing: border-box;
  padding: 5.4rem 19.1rem 3.6rem 16.3rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #fff6f6;
  border-radius: 5rem;
  flex-shrink: 0;
}
.frame-input-data-TrP .macbook-pro-14-1-DKm .auto-group-wv1m-eUw .auto-group-pzgx-gwR .tanggal-DAf {
  margin: 0rem 0rem 2.1rem 0.1rem;
  width: 75.1rem;
  height: 5.6rem;
  border-bottom: solid 0.1rem #000000;
  box-sizing: border-box;
  flex-shrink: 0;
}
.frame-input-data-TrP .macbook-pro-14-1-DKm .auto-group-wv1m-eUw .auto-group-pzgx-gwR .tanggal-DAf .auto-group-dqf1-wcT {
  width: 100%;
  height: 4.2rem;
  display: flex;
  align-items: flex-start;
}
.frame-input-data-TrP .macbook-pro-14-1-DKm .auto-group-wv1m-eUw .auto-group-pzgx-gwR .tanggal-DAf .auto-group-dqf1-wcT .tanggal--VP5 {
  margin-right: 5rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-input-data-TrP .macbook-pro-14-1-DKm .auto-group-wv1m-eUw .auto-group-pzgx-gwR .tanggal-DAf .auto-group-dqf1-wcT .auto-group-czh1-ouZ {
  box-sizing: border-box;
  padding: 0.9rem 2.1rem 0.9rem 45.1rem;
  height: 100%;
  background-color: #d9d9d9;
  border-radius: 1rem;
  flex-shrink: 0;
}
.frame-input-data-TrP .macbook-pro-14-1-DKm .auto-group-wv1m-eUw .auto-group-pzgx-gwR .tanggal-DAf .auto-group-dqf1-wcT .auto-group-czh1-ouZ .icon-bawah-tanggal-Leb {
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.frame-input-data-TrP .macbook-pro-14-1-DKm .auto-group-wv1m-eUw .auto-group-pzgx-gwR .jenis-pangan-SSj {
  margin-bottom: 2.297rem;
  width: 100%;
  height: 5.703rem;
  border-bottom: solid 0.1rem #000000;
  box-sizing: border-box;
  flex-shrink: 0;
}
.frame-input-data-TrP .macbook-pro-14-1-DKm .auto-group-wv1m-eUw .auto-group-pzgx-gwR .jenis-pangan-SSj .auto-group-nncx-nmV {
  width: 100%;
  height: 4.2rem;
  display: flex;
  align-items: flex-start;
}
.frame-input-data-TrP .macbook-pro-14-1-DKm .auto-group-wv1m-eUw .auto-group-pzgx-gwR .jenis-pangan-SSj .auto-group-nncx-nmV .jenis-pangan--jAw {
  margin-right: 4.9rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-input-data-TrP .macbook-pro-14-1-DKm .auto-group-wv1m-eUw .auto-group-pzgx-gwR .jenis-pangan-SSj .auto-group-nncx-nmV .auto-group-uj35-T6w {
  box-sizing: border-box;
  padding: 0.9rem 2.1rem 0.9rem 45.1rem;
  height: 100%;
  background-color: #d9d9d9;
  border-radius: 1rem;
  flex-shrink: 0;
}
.frame-input-data-TrP .macbook-pro-14-1-DKm .auto-group-wv1m-eUw .auto-group-pzgx-gwR .jenis-pangan-SSj .auto-group-nncx-nmV .auto-group-uj35-T6w .icon-bawah-jenis-pangan-Mi7 {
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.frame-input-data-TrP .macbook-pro-14-1-DKm .auto-group-wv1m-eUw .auto-group-pzgx-gwR .provinsi-Tm9 {
  margin: 0rem 0rem 2.297rem 0.2rem;
  box-sizing: border-box;
  padding-left: 0.05rem;
  width: 75rem;
  height: 5.703rem;
  border-bottom: solid 0.1rem #000000;
  flex-shrink: 0;
}
.frame-input-data-TrP .macbook-pro-14-1-DKm .auto-group-wv1m-eUw .auto-group-pzgx-gwR .provinsi-Tm9 .auto-group-zkzw-yUb {
  width: 100%;
  height: 4.2rem;
  display: flex;
  align-items: flex-start;
}
.frame-input-data-TrP .macbook-pro-14-1-DKm .auto-group-wv1m-eUw .auto-group-pzgx-gwR .provinsi-Tm9 .auto-group-zkzw-yUb .provinsi--XW7 {
  margin-right: 5.15rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-input-data-TrP .macbook-pro-14-1-DKm .auto-group-wv1m-eUw .auto-group-pzgx-gwR .provinsi-Tm9 .auto-group-zkzw-yUb .auto-group-c5jd-Fwu {
  box-sizing: border-box;
  padding: 0.9rem 2.1rem 0.9rem 45.1rem;
  height: 100%;
  background-color: #d9d9d9;
  border-radius: 1rem;
  flex-shrink: 0;
}
.frame-input-data-TrP .macbook-pro-14-1-DKm .auto-group-wv1m-eUw .auto-group-pzgx-gwR .provinsi-Tm9 .auto-group-zkzw-yUb .auto-group-c5jd-Fwu .icon-bawah-provinsi-CcF {
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.frame-input-data-TrP .macbook-pro-14-1-DKm .auto-group-wv1m-eUw .auto-group-pzgx-gwR .kota-kab-uWf {
  margin: 0rem 0rem 2.297rem 0.2rem;
  box-sizing: border-box;
  padding-left: 0.2rem;
  width: 75rem;
  height: 5.703rem;
  border-bottom: solid 0.1rem #000000;
  flex-shrink: 0;
}
.frame-input-data-TrP .macbook-pro-14-1-DKm .auto-group-wv1m-eUw .auto-group-pzgx-gwR .kota-kab-uWf .auto-group-dvt1-EJ3 {
  width: 100%;
  height: 4.2rem;
  display: flex;
  align-items: flex-start;
}
.frame-input-data-TrP .macbook-pro-14-1-DKm .auto-group-wv1m-eUw .auto-group-pzgx-gwR .kota-kab-uWf .auto-group-dvt1-EJ3 .kota-kab--BDH {
  margin-right: 5.3rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-input-data-TrP .macbook-pro-14-1-DKm .auto-group-wv1m-eUw .auto-group-pzgx-gwR .kota-kab-uWf .auto-group-dvt1-EJ3 .auto-group-ugsb-WFZ {
  box-sizing: border-box;
  padding: 0.9rem 2.1rem 0.9rem 45.1rem;
  height: 100%;
  background-color: #d9d9d9;
  border-radius: 1rem;
  flex-shrink: 0;
}
.frame-input-data-TrP .macbook-pro-14-1-DKm .auto-group-wv1m-eUw .auto-group-pzgx-gwR .kota-kab-uWf .auto-group-dvt1-EJ3 .auto-group-ugsb-WFZ .icon-bawah-kota-kab-Suu {
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.frame-input-data-TrP .macbook-pro-14-1-DKm .auto-group-wv1m-eUw .auto-group-pzgx-gwR .pasar-x7Z {
  margin: 0rem 0rem 2.297rem 0.2rem;
  box-sizing: border-box;
  padding-left: 0.4rem;
  width: 75rem;
  height: 5.703rem;
  border-bottom: solid 0.1rem #000000;
  flex-shrink: 0;
}
.frame-input-data-TrP .macbook-pro-14-1-DKm .auto-group-wv1m-eUw .auto-group-pzgx-gwR .pasar-x7Z .auto-group-twu5-skK {
  width: 100%;
  height: 4.4rem;
  display: flex;
  align-items: flex-start;
}
.frame-input-data-TrP .macbook-pro-14-1-DKm .auto-group-wv1m-eUw .auto-group-pzgx-gwR .pasar-x7Z .auto-group-twu5-skK .pasar--E55 {
  margin-right: 5.5rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-input-data-TrP .macbook-pro-14-1-DKm .auto-group-wv1m-eUw .auto-group-pzgx-gwR .pasar-x7Z .auto-group-twu5-skK .auto-group-ctzr-9xj {
  margin-top: 0.2rem;
  box-sizing: border-box;
  padding: 0.7rem 2.1rem 1.1rem 45.1rem;
  background-color: #d9d9d9;
  border-radius: 1rem;
  flex-shrink: 0;
}
.frame-input-data-TrP .macbook-pro-14-1-DKm .auto-group-wv1m-eUw .auto-group-pzgx-gwR .pasar-x7Z .auto-group-twu5-skK .auto-group-ctzr-9xj .icon-bawah-pasar-tfR {
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.frame-input-data-TrP .macbook-pro-14-1-DKm .auto-group-wv1m-eUw .auto-group-pzgx-gwR .harga-CRD {
  margin: 0rem 0rem 2.897rem 0.2rem;
  box-sizing: border-box;
  padding-left: 0.9rem;
  width: 75rem;
  height: 5.703rem;
  border-bottom: solid 0.1rem #000000;
  flex-shrink: 0;
}
.frame-input-data-TrP .macbook-pro-14-1-DKm .auto-group-wv1m-eUw .auto-group-pzgx-gwR .harga-CRD .auto-group-yftm-XTV {
  width: 100%;
  height: 4.2rem;
  display: flex;
  align-items: flex-start;
}
.frame-input-data-TrP .macbook-pro-14-1-DKm .auto-group-wv1m-eUw .auto-group-pzgx-gwR .harga-CRD .auto-group-yftm-XTV .harga--5V1 {
  margin-right: 6rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-input-data-TrP .macbook-pro-14-1-DKm .auto-group-wv1m-eUw .auto-group-pzgx-gwR .harga-CRD .auto-group-yftm-XTV .latar-harga-1Nf {
  width: 49.6rem;
  height: 4.2rem;
  background-color: #d9d9d9;
  border-radius: 1rem;
  flex-shrink: 0;
}
.frame-input-data-TrP .macbook-pro-14-1-DKm .auto-group-wv1m-eUw .auto-group-pzgx-gwR .submit-wGK {
  margin: 0rem 21.8rem 0rem 31.1rem;
  width: calc(100% - 52.9rem);
  height: 5.5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #38a33c;
  border-radius: 5rem;
  flex-shrink: 0;
}
