
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.frame-grafik-harga-FKu {
  width: 100%;
  height: 98.2rem;
}
.frame-grafik-harga-FKu .macbook-pro-14-1-CW3 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.frame-grafik-harga-FKu .macbook-pro-14-1-CW3 .header-M83 {
  margin-bottom: 0.9rem;
  width: 100%;
  height: 24.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame-grafik-harga-FKu .macbook-pro-14-1-CW3 .header-M83 .auto-group-q8zs-ttf {
  box-sizing: border-box;
  padding: 6.1rem 0rem 2.4rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame-grafik-harga-FKu .macbook-pro-14-1-CW3 .header-M83 .auto-group-q8zs-ttf .auto-group-g9nf-Dvw {
  margin-top: 3.1rem;
  width: 78.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-grafik-harga-FKu .macbook-pro-14-1-CW3 .header-M83 .auto-group-q8zs-ttf .auto-group-g9nf-Dvw .direktorat-stabilisasi-pasokan-dan-harga-pangan-kedeputian-bidang-ketersediaan-dan-stabilisasi-pangan-ZV1 {
  margin: 0rem 0.1rem 1.5rem 0rem;
  max-width: 63.3rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.3575;
  color: #14651c;
  font-family: Bree Serif, 'Source Sans Pro';
  flex-shrink: 0;
}
.frame-grafik-harga-FKu .macbook-pro-14-1-CW3 .header-M83 .auto-group-q8zs-ttf .auto-group-g9nf-Dvw .auto-group-z62b-D3m {
  width: 100%;
  height: 2.7rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #38a33c;
  flex-shrink: 0;
}
.frame-grafik-harga-FKu .macbook-pro-14-1-CW3 .header-M83 .auto-group-q8zs-ttf .line-header-Jb1 {
  margin-bottom: 5.3rem;
  width: 0;
  height: 11rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-grafik-harga-FKu .macbook-pro-14-1-CW3 .header-M83 .auto-group-mdsu-e95 {
  width: 73.5rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.frame-grafik-harga-FKu .macbook-pro-14-1-CW3 .header-M83 .auto-group-mdsu-e95 .batas-header-2-PMZ {
  width: 73.5rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 19.8rem;
  background-color: #92f662;
}
.frame-grafik-harga-FKu .macbook-pro-14-1-CW3 .header-M83 .auto-group-mdsu-e95 .logo-btp-jRR {
  width: 28.9rem;
  height: 19rem;
  position: absolute;
  left: 41.3rem;
  top: 5.8rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-grafik-harga-FKu .macbook-pro-14-1-CW3 .header-M83 .auto-group-mdsu-e95 .logo-bapanas-sGj {
  width: 10.8rem;
  height: 11.5rem;
  position: absolute;
  left: 8.5rem;
  top: 5.8rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-grafik-harga-FKu .macbook-pro-14-1-CW3 .header-M83 .auto-group-mdsu-e95 .logo-aic-neb {
  width: 32.9rem;
  height: 23.1rem;
  position: absolute;
  left: 25.2rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.frame-grafik-harga-FKu .macbook-pro-14-1-CW3 .header-M83 .auto-group-mdsu-e95 .logo-telkom-X6P {
  width: 12.6rem;
  height: 12.8rem;
  position: absolute;
  left: 58.1rem;
  top: 5.2rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-grafik-harga-FKu .macbook-pro-14-1-CW3 .auto-group-lskr-Sz3 {
  box-sizing: border-box;
  padding: 3.9rem 15.1rem 10.6rem 15.1rem;
  width: 151.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(203.19deg, #38a43c 68.64%, #d9d9d9 87.36%);
  flex-shrink: 0;
}
.frame-grafik-harga-FKu .macbook-pro-14-1-CW3 .auto-group-lskr-Sz3 .grafik-prediksi-harga-pangan-nasional-mmR {
  margin: 0rem 61.4rem 2.8rem 0rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-grafik-harga-FKu .macbook-pro-14-1-CW3 .auto-group-lskr-Sz3 .auto-group-uzuq-5n7 {
  margin: 0rem 15.9rem 0rem 22.7rem;
  width: calc(100% - 38.6rem);
  height: 52.5rem;
  position: relative;
  flex-shrink: 0;
}
.frame-grafik-harga-FKu .macbook-pro-14-1-CW3 .auto-group-lskr-Sz3 .auto-group-uzuq-5n7 .latar-belakang-putih-c1M {
  width: 81.7rem;
  height: 52.5rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
  border-radius: 7rem;
}
.frame-grafik-harga-FKu .macbook-pro-14-1-CW3 .auto-group-lskr-Sz3 .auto-group-uzuq-5n7 .icon-x-91H {
  width: 4.8rem;
  height: 4.4rem;
  cursor: pointer;
  position: absolute;
  left: 70.7rem;
  top: 0.9rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-grafik-harga-FKu .macbook-pro-14-1-CW3 .auto-group-lskr-Sz3 .auto-group-uzuq-5n7 .grafik-Gbh {
  width: 79.8rem;
  height: 45.2rem;
  position: absolute;
  left: 1.1rem;
  top: 6.1rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5.4rem;
}
.frame-grafik-harga-FKu .macbook-pro-14-1-CW3 .auto-group-lskr-Sz3 .auto-group-uzuq-5n7 .latar-gambar-beras-CET {
  width: 82.6rem;
  height: 47.2rem;
  position: absolute;
  left: 0;
  top: 4.6rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 7.1rem;
}
