
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.frame-kalender-harga-Nes {
  width: 100%;
  height: 98.2rem;
}
.frame-kalender-harga-Nes .macbook-pro-14-1-vwH {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.frame-kalender-harga-Nes .macbook-pro-14-1-vwH .header-UT1 {
  width: 100%;
  height: 25.7rem;
  position: relative;
  flex-shrink: 0;
}
.frame-kalender-harga-Nes .macbook-pro-14-1-vwH .header-UT1 .latar-header-DfV {
  width: 150.9rem;
  height: 24.5rem;
  position: absolute;
  left: 0;
  top: 1.2rem;
  background-color: #ffffff;
}
.frame-kalender-harga-Nes .macbook-pro-14-1-vwH .header-UT1 .batas-header-2-AKq {
  width: 73.5rem;
  height: 2.5rem;
  position: absolute;
  left: 78.4rem;
  top: 19.8rem;
  background-color: #92f662;
}
.frame-kalender-harga-Nes .macbook-pro-14-1-vwH .header-UT1 .batas-header-1-Vsu {
  width: 78.4rem;
  height: 2.7rem;
  position: absolute;
  left: 0;
  top: 19.7rem;
  background-color: #38a33c;
}
.frame-kalender-harga-Nes .macbook-pro-14-1-vwH .header-UT1 .badan-pangan-nasional-38j {
  width: 22.9rem;
  height: 2.5rem;
  position: absolute;
  left: 24.9rem;
  top: 19.8rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-kalender-harga-Nes .macbook-pro-14-1-vwH .header-UT1 .logo-btp-k39 {
  width: 28.9rem;
  height: 19rem;
  position: absolute;
  left: 119.7rem;
  top: 5.8rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-kalender-harga-Nes .macbook-pro-14-1-vwH .header-UT1 .logo-bapanas-sdZ {
  width: 10.8rem;
  height: 11.5rem;
  position: absolute;
  left: 86.9rem;
  top: 5.8rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-kalender-harga-Nes .macbook-pro-14-1-vwH .header-UT1 .logo-aic-QdV {
  width: 32.9rem;
  height: 23.1rem;
  position: absolute;
  left: 103.6rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.frame-kalender-harga-Nes .macbook-pro-14-1-vwH .header-UT1 .logo-telkom-x9D {
  width: 12.6rem;
  height: 12.8rem;
  position: absolute;
  left: 136.5rem;
  top: 5.2rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-kalender-harga-Nes .macbook-pro-14-1-vwH .header-UT1 .line-header-6FR {
  width: 0;
  height: 11rem;
  position: absolute;
  left: 78.4rem;
  top: 6.1rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-kalender-harga-Nes .macbook-pro-14-1-vwH .header-UT1 .direktorat-stabilisasi-pasokan-dan-harga-pangan-kedeputian-bidang-ketersediaan-dan-stabilisasi-pangan-3Af {
  width: 63.3rem;
  height: 9rem;
  position: absolute;
  left: 7.5rem;
  top: 9.2rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.3575;
  color: #14651c;
  font-family: Bree Serif, 'Source Sans Pro';
}
.frame-kalender-harga-Nes .macbook-pro-14-1-vwH .auto-group-yzsu-i1u {
  box-sizing: border-box;
  padding: 3.9rem 18.7rem 5.2rem 15.1rem;
  width: 151.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(203.19deg, #38a43c 68.64%, #d9d9d9 87.36%);
  flex-shrink: 0;
}
.frame-kalender-harga-Nes .macbook-pro-14-1-vwH .auto-group-yzsu-i1u .prediksi-harga-pangan-nasional-dPm {
  margin: 0rem 68rem 3.5rem 0rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-kalender-harga-Nes .macbook-pro-14-1-vwH .auto-group-yzsu-i1u .kalender-harga-jSo {
  margin-left: 12.3rem;
  width: 105.3rem;
  height: 57.2rem;
  position: relative;
  background-color: #fff6f6;
  border-radius: 5rem;
  flex-shrink: 0;
}
.frame-kalender-harga-Nes .macbook-pro-14-1-vwH .auto-group-yzsu-i1u .kalender-harga-jSo .latar-atas-Tdh {
  width: 89.8rem;
  height: 10.9rem;
  position: absolute;
  left: 6.2rem;
  top: 2rem;
  background-color: #92f662;
  border-radius: 2.8rem;
}
.frame-kalender-harga-Nes .macbook-pro-14-1-vwH .auto-group-yzsu-i1u .kalender-harga-jSo .kalender-PGT {
  width: 89.8rem;
  height: 47rem;
  position: absolute;
  left: 6.2rem;
  top: 8rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-kalender-harga-Nes .macbook-pro-14-1-vwH .auto-group-yzsu-i1u .kalender-harga-jSo .kalender-harga-7y9 {
  width: 16.5rem;
  height: 2.7rem;
  position: absolute;
  left: 42.4rem;
  top: 3.5rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-kalender-harga-Nes .macbook-pro-14-1-vwH .auto-group-yzsu-i1u .kalender-harga-jSo .icon-x-dgb {
  width: 3.8rem;
  height: 3.2rem;
  cursor: pointer;
  position: absolute;
  left: 88.8rem;
  top: 3.6rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-kalender-harga-Nes .macbook-pro-14-1-vwH .auto-group-yzsu-i1u .kalender-harga-jSo .icon-kalender-yEf {
  width: 4.5rem;
  height: 4.5rem;
  position: absolute;
  left: 9.6rem;
  top: 2.8rem;
  object-fit: contain;
  vertical-align: top;
}
