
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.9rem;
}.header-1-JH5 {
  width: 100%;
  height: 25.7rem;
  position: relative;

  .header-Duq {
    position: absolute;
    left: 0;
    top: 1.2rem;
    background-color: #ffffff;
    width: 150.9rem;
    height: 24.5rem;
  }
  .batas-header-1-N23 {
    position: absolute;
    left: 0;
    top: 19.7rem;
    background-color: #38a33c;
    width: 78.4rem;
    height: 2.7rem;
  }
  .gsm-logo-btp-1-1-ha7 {
    top: 5.8rem;
    object-fit: cover;
    vertical-align: top;
    width: 28.9rem;
    height: 19rem;
    position: absolute;
    left: 119.7rem;
  }
  .image-6-ch5 {
    left: 86.9rem;
    top: 5.8rem;
    object-fit: cover;
    vertical-align: top;
    width: 10.8rem;
    height: 11.5rem;
    position: absolute;
  }
  .gsm-logo-ailo-1-1-Mef {
    width: 32.9rem;
    height: 23.1rem;
    position: absolute;
    left: 103.6rem;
    top: 0;
    object-fit: cover;
    vertical-align: top;
  }
  .batas-header-2-5qZ {
    width: 73.5rem;
    height: 2.5rem;
    position: absolute;
    left: 78.4rem;
    top: 19.8rem;
    background-color: #92f662;
  }
  .line-header-pYF {
    width: 0rem;
    height: 11rem;
    position: absolute;
    left: 78.4rem;
    top: 6.1rem;
    object-fit: contain;
    vertical-align: top;
  }
  .badan-pangan-nasional-xPZ {
    position: absolute;
    top: 19.8rem;
    font-weight: 700;
    line-height: 1.2125;
    color: #ffffff;
    width: 22.9rem;
    height: 2.5rem;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    left: 24.9rem;
    font-size: 2rem;
  }
  .direktorat-stabilisasi-pasokan-dan-harga-pangan-kedeputian-bidang-ketersediaan-dan-stabilisasi-pangan-Tr7 {
    font-family: Bree Serif, 'Source Sans Pro';
    height: 9rem;
    left: 7.5rem;
    top: 9.2rem;
    font-weight: 400;
    color: #14651c;
    width: 63.3rem;
    position: absolute;
    font-size: 2.2rem;
    line-height: 1.3575;
  }
  .image-3-wFV {
    width: 12.6rem;
    height: 12.8rem;
    position: absolute;
    left: 136.5rem;
    top: 5.2rem;
    object-fit: cover;
    vertical-align: top;
  }
  .header-UmD {
    left: 0;
    top: 1.2rem;
    background-color: #ffffff;
    width: 150.9rem;
    height: 24.5rem;
    position: absolute;
  }
  .batas-header-3-2nj {
    left: 0;
    top: 19.7rem;
    background-color: #38a33c;
    width: 78.4rem;
    height: 2.7rem;
    position: absolute;
  }
  .gsm-logo-btp-1-2-mVR {
    object-fit: cover;
    vertical-align: top;
    width: 28.9rem;
    height: 19rem;
    position: absolute;
    left: 119.7rem;
    top: 5.8rem;
  }
  .image-7-tK9 {
    width: 10.8rem;
    height: 11.5rem;
    position: absolute;
    left: 86.9rem;
    top: 5.8rem;
    object-fit: cover;
    vertical-align: top;
  }
  .gsm-logo-ailo-1-2-dGj {
    position: absolute;
    left: 103.6rem;
    top: 0;
    object-fit: cover;
    vertical-align: top;
    width: 32.9rem;
    height: 23.1rem;
  }
  .batas-header-4-ZAP {
    position: absolute;
    left: 78.4rem;
    top: 19.8rem;
    background-color: #92f662;
    width: 73.5rem;
    height: 2.5rem;
  }
  .line-header-hGb {
    height: 11rem;
    position: absolute;
    left: 78.4rem;
    top: 6.1rem;
    object-fit: contain;
    vertical-align: top;
    width: 0rem;
  }
  .badan-pangan-nasional-F3D {
    position: absolute;
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 22.9rem;
    height: 2.5rem;
    left: 24.9rem;
    top: 19.8rem;
    line-height: 1.2125;
  }
  .direktorat-stabilisasi-pasokan-dan-harga-pangan-kedeputian-bidang-ketersediaan-dan-stabilisasi-pangan-xTR {
    width: 63.3rem;
    height: 9rem;
    left: 7.5rem;
    line-height: 1.3575;
    color: #14651c;
    position: absolute;
    top: 9.2rem;
    font-size: 2.2rem;
    font-weight: 400;
    font-family: Bree Serif, 'Source Sans Pro';
  }
  .image-8-FBd {
    width: 12.6rem;
    height: 12.8rem;
    position: absolute;
    left: 136.5rem;
    top: 5.2rem;
    object-fit: cover;
    vertical-align: top;
  }
}
