
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 35rem;
}.kalender-kecil-tC7 {
  height: 26.3rem;
  position: relative;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('REPLACE_IMAGE:4475f188f1669e351ffa9d439d9dfaa127194f4e');
  width: 100%;

  .latar-header-atas-DVH {
    background-color: #92f763;
    border-radius: 1rem;
    width: 34.1rem;
    height: 5.3rem;
    position: absolute;
    left: 0.6rem;
    top: 0;
  }
  .desember-2020-jTd {
    line-height: 1.2125;
    width: 12.7rem;
    height: 2rem;
    left: 10.7rem;
    top: 2rem;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
    position: absolute;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
  }
  .icon-kiri-RLT {
    position: absolute;
    left: 1.9rem;
    top: 1.2rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.9rem;
    height: 2.9rem;
  }
  .icon-kanan-k7q {
    left: 30.3rem;
    top: 1.2rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.6rem;
    height: 3.1rem;
    position: absolute;
  }
}
