
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.9rem;
}.header-1-JH5 {
  width: 100%;
  height: 25.7rem;
  position: relative;
}
.header-1-JH5 .header-Duq {
  width: 150.9rem;
  height: 24.5rem;
  position: absolute;
  left: 0;
  top: 1.2rem;
  background-color: #ffffff;
}
.header-1-JH5 .batas-header-1-N23 {
  width: 78.4rem;
  height: 2.7rem;
  position: absolute;
  left: 0;
  top: 19.7rem;
  background-color: #38a33c;
}
.header-1-JH5 .gsm-logo-btp-1-1-ha7 {
  width: 28.9rem;
  height: 19rem;
  position: absolute;
  left: 119.7rem;
  top: 5.8rem;
  object-fit: cover;
  vertical-align: top;
}
.header-1-JH5 .image-6-ch5 {
  width: 10.8rem;
  height: 11.5rem;
  position: absolute;
  left: 86.9rem;
  top: 5.8rem;
  object-fit: cover;
  vertical-align: top;
}
.header-1-JH5 .gsm-logo-ailo-1-1-Mef {
  width: 32.9rem;
  height: 23.1rem;
  position: absolute;
  left: 103.6rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.header-1-JH5 .batas-header-2-5qZ {
  width: 73.5rem;
  height: 2.5rem;
  position: absolute;
  left: 78.4rem;
  top: 19.8rem;
  background-color: #92f662;
}
.header-1-JH5 .line-header-pYF {
  width: 0rem;
  height: 11rem;
  position: absolute;
  left: 78.4rem;
  top: 6.1rem;
  object-fit: contain;
  vertical-align: top;
}
.header-1-JH5 .badan-pangan-nasional-xPZ {
  width: 22.9rem;
  height: 2.5rem;
  position: absolute;
  left: 24.9rem;
  top: 19.8rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.header-1-JH5 .direktorat-stabilisasi-pasokan-dan-harga-pangan-kedeputian-bidang-ketersediaan-dan-stabilisasi-pangan-Tr7 {
  width: 63.3rem;
  height: 9rem;
  position: absolute;
  left: 7.5rem;
  top: 9.2rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.3575;
  color: #14651c;
  font-family: Bree Serif, 'Source Sans Pro';
}
.header-1-JH5 .image-3-wFV {
  width: 12.6rem;
  height: 12.8rem;
  position: absolute;
  left: 136.5rem;
  top: 5.2rem;
  object-fit: cover;
  vertical-align: top;
}
.header-1-JH5 .header-UmD {
  width: 150.9rem;
  height: 24.5rem;
  position: absolute;
  left: 0;
  top: 1.2rem;
  background-color: #ffffff;
}
.header-1-JH5 .batas-header-3-2nj {
  width: 78.4rem;
  height: 2.7rem;
  position: absolute;
  left: 0;
  top: 19.7rem;
  background-color: #38a33c;
}
.header-1-JH5 .gsm-logo-btp-1-2-mVR {
  width: 28.9rem;
  height: 19rem;
  position: absolute;
  left: 119.7rem;
  top: 5.8rem;
  object-fit: cover;
  vertical-align: top;
}
.header-1-JH5 .image-7-tK9 {
  width: 10.8rem;
  height: 11.5rem;
  position: absolute;
  left: 86.9rem;
  top: 5.8rem;
  object-fit: cover;
  vertical-align: top;
}
.header-1-JH5 .gsm-logo-ailo-1-2-dGj {
  width: 32.9rem;
  height: 23.1rem;
  position: absolute;
  left: 103.6rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.header-1-JH5 .batas-header-4-ZAP {
  width: 73.5rem;
  height: 2.5rem;
  position: absolute;
  left: 78.4rem;
  top: 19.8rem;
  background-color: #92f662;
}
.header-1-JH5 .line-header-hGb {
  width: 0rem;
  height: 11rem;
  position: absolute;
  left: 78.4rem;
  top: 6.1rem;
  object-fit: contain;
  vertical-align: top;
}
.header-1-JH5 .badan-pangan-nasional-F3D {
  width: 22.9rem;
  height: 2.5rem;
  position: absolute;
  left: 24.9rem;
  top: 19.8rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.header-1-JH5 .direktorat-stabilisasi-pasokan-dan-harga-pangan-kedeputian-bidang-ketersediaan-dan-stabilisasi-pangan-xTR {
  width: 63.3rem;
  height: 9rem;
  position: absolute;
  left: 7.5rem;
  top: 9.2rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.3575;
  color: #14651c;
  font-family: Bree Serif, 'Source Sans Pro';
}
.header-1-JH5 .image-8-FBd {
  width: 12.6rem;
  height: 12.8rem;
  position: absolute;
  left: 136.5rem;
  top: 5.2rem;
  object-fit: cover;
  vertical-align: top;
}
